.Auctions{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.Players{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    gap:35px;
    padding: 3rem;
    justify-content: center;
}
.SignedCart{
    background-color: #e4194f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
   padding: 2rem;
   height: 100vh;
   position:sticky;
   top: 0;
}