.player{
    width: 550px;
    height: 250px;
    /* border: 1px solid gray; */
    border-radius:8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;

}
.player img{
    height: 235px;
    width: 200px;
    border-radius:8px;
    margin: 7px;
}
.PlayerDetails{
    margin-left: 10px;
}